/* This is where styles are defined for your page. */
/* One style is provided as example. */

html {
    background-image: url(images/hard-paper-texture.jpg);
}

body {
    background: grey;
}

h1, h2, h3, h4, h5, h6 {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 3rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin-top: 0;
}

aside {
    background: greenyellow;
    max-width: 800px;
    width: 50%;
    padding: 1rem;
}

aside img {
    width: 180px;
    height: auto;
    float: left;
    margin-right: 1rem;
}

ul.info-links, ul.social-links {
    list-style-type: none;
}
section {
    clear: both;
}

ul.poem {
    list-style-type: none;

footer {
    background: bisque;
}

